{% extends 'music/base.html' %}
{% load static %}
{% block content %}
<section class="vbox">
    <section class="w-f-md" id="bjax-target">
        <section class="hbox stretch">
            <!-- side content -->
            <aside class="aside bg-light dk" id="sidebar">
                <section class="vbox animated fadeInUp">
                    <section class="scrollable hover">
                        <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                            <a class="list-group-item" href="genres.html">
                                All
                            </a>
                            <a class="list-group-item active" href="genres.html">
                                acoustic
                            </a>
                            <a class="list-group-item" href="genres.html">
                                ambient
                            </a>
                            <a class="list-group-item" href="genres.html">
                                blues
                            </a>
                            <a class="list-group-item" href="genres.html">
                                classical
                            </a>
                            <a class="list-group-item" href="genres.html">
                                country
                            </a>
                            <a class="list-group-item" href="genres.html">
                                electronic
                            </a>
                            <a class="list-group-item" href="genres.html">
                                emo
                            </a>
                            <a class="list-group-item" href="genres.html">
                                folk
                            </a>
                            <a class="list-group-item" href="genres.html">
                                hardcore
                            </a>
                            <a class="list-group-item" href="genres.html">
                                hip hop
                            </a>
                            <a class="list-group-item" href="genres.html">
                                indie
                            </a>
                            <a class="list-group-item" href="genres.html">
                                jazz
                            </a>
                            <a class="list-group-item" href="genres.html">
                                latin
                            </a>
                            <a class="list-group-item" href="genres.html">
                                metal
                            </a>
                            <a class="list-group-item" href="genres.html">
                                pop
                            </a>
                            <a class="list-group-item" href="genres.html">
                                pop punk
                            </a>
                            <a class="list-group-item" href="genres.html">
                                punk
                            </a>
                            <a class="list-group-item" href="genres.html">
                                reggae
                            </a>
                            <a class="list-group-item" href="genres.html">
                                rnb
                            </a>
                            <a class="list-group-item" href="genres.html">
                                rock
                            </a>
                            <a class="list-group-item" href="genres.html">
                                soul
                            </a>
                            <a class="list-group-item" href="genres.html">
                                world
                            </a>
                        </div>
                    </section>
                </section>
            </aside>
            <!-- / side content -->
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg">
                        <h2 class="font-thin m-b">
                            Acoustic
                        </h2>
                        <div class="row row-sm">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m1.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Tempered Song
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Miaow
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m2.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Morbi id neque quam
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Phasellus
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/a10.png' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Aliquam sollicitudin venenatis ipsum
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Malesuada
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m4.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Citudin venenatis ipsum ac
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Volutpat
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m5.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Vestibulum ullamcorper sodales nisi
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Mauris Qiaos
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m6.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Mauris convallis mauris at
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Neque
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m0.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Sodales nisi nec condimentum
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Augue
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m8.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Nisi nec condimentum
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Miaow
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m9.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Phasellus at ultricies nequ
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Volutpat
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m10.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Quis malesuada augue
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Feugiat
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m11.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Ipsum ac feugiat
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Quam AC
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m12.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Ullamcorper sodales nisi nec condimentu
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Convallis
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m13.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Tudin venenatis ulum ullamcorper
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Pellent Esque
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m14.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Sodales nisi nec condimentum
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Utricies
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m15.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Sec condimentum augue
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Quis Fox
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/a9.png' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Dimentum at pellentesque volutpat
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Suada
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m16.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Natis ipsum ac feugiat
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Monvallis
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="track-detail.html">
                                            <img alt="" class="r r-2x img-full" src="{% static 'images/m17.jpg' %}"/>
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a class="text-ellipsis" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Dimentum tesque volut icies neque
                                        </a>
                                        <a class="text-ellipsis text-xs text-muted" data-bjax="" data-el="#bjax-el" data-replace="true" data-target="#bjax-target" href="track-detail.html">
                                            Londi Mentum
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination pagination">
                            <li>
                                <a href="#">
                                    <i class="fa fa-chevron-left">
                                    </i>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    1
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    2
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    4
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    5
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-chevron-right">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <footer class="footer bg-info dker">
        <div id="jp_container_N">
            <div class="jp-type-playlist">
                <div class="jp-jplayer hide" id="jplayer_N">
                </div>
                <div class="jp-gui">
                    <div class="jp-video-play hide">
                        <a class="jp-video-play-icon">
                            play
                        </a>
                    </div>
                    <div class="jp-interface">
                        <div class="jp-controls">
                            <div>
                                <a class="jp-previous">
                                    <i class="icon-control-rewind i-lg">
                                    </i>
                                </a>
                            </div>
                            <div>
                                <a class="jp-play">
                                    <i class="icon-control-play i-2x">
                                    </i>
                                </a>
                                <a class="jp-pause hid">
                                    <i class="icon-control-pause i-2x">
                                    </i>
                                </a>
                            </div>
                            <div>
                                <a class="jp-next">
                                    <i class="icon-control-forward i-lg">
                                    </i>
                                </a>
                            </div>
                            <div class="hide">
                                <a class="jp-stop">
                                    <i class="fa fa-stop">
                                    </i>
                                </a>
                            </div>
                            <div>
                                <a class="" data-target="#playlist" data-toggle="dropdown">
                                    <i class="icon-list">
                                    </i>
                                </a>
                            </div>
                            <div class="jp-progress hidden-xs">
                                <div class="jp-seek-bar dk">
                                    <div class="jp-play-bar bg-info">
                                    </div>
                                    <div class="jp-title text-lt">
                                        <ul>
                                            <li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted">
                            </div>
                            <div class="hidden-xs hidden-sm jp-duration text-xs text-muted">
                            </div>
                            <div class="hidden-xs hidden-sm">
                                <a class="jp-mute" title="mute">
                                    <i class="icon-volume-2">
                                    </i>
                                </a>
                                <a class="jp-unmute hid" title="unmute">
                                    <i class="icon-volume-off">
                                    </i>
                                </a>
                            </div>
                            <div class="hidden-xs hidden-sm jp-volume">
                                <div class="jp-volume-bar dk">
                                    <div class="jp-volume-bar-value lter">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a class="jp-shuffle" title="shuffle">
                                    <i class="icon-shuffle text-muted">
                                    </i>
                                </a>
                                <a class="jp-shuffle-off hid" title="shuffle off">
                                    <i class="icon-shuffle text-lt">
                                    </i>
                                </a>
                            </div>
                            <div>
                                <a class="jp-repeat" title="repeat">
                                    <i class="icon-loop text-muted">
                                    </i>
                                </a>
                                <a class="jp-repeat-off hid" title="repeat off">
                                    <i class="icon-loop text-lt">
                                    </i>
                                </a>
                            </div>
                            <div class="hide">
                                <a class="jp-full-screen" title="full screen">
                                    <i class="fa fa-expand">
                                    </i>
                                </a>
                                <a class="jp-restore-screen" title="restore screen">
                                    <i class="fa fa-compress text-lt">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jp-playlist dropup" id="playlist">
                    <ul class="dropdown-menu aside-xl dker">
                        <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                        <li class="list-group-item">
                        </li>
                    </ul>
                </div>
                <div class="jp-no-solution hide">
                    <span>
                        Update Required
                    </span>
                    To play the media you will need to either update your browser to a recent version or update your
                    <a href="http://get.adobe.com/flashplayer/" target="_blank">
                        Flash plugin
                    </a>
                    .
                </div>
            </div>
        </div>
    </footer>
</section>
<a class="hide nav-off-screen-block" data-target="#nav,html" data-toggle="class:nav-off-screen,open" href="#">
</a>
{% endblock %}