<div class="modal-over">
    <div class="modal-center animated fadeInUp text-center" style="width:200px;margin:-80px 0 0 -100px;">
        <div class="thumb-md">
            <img class="img-circle b-a b-light b-3x" src="images/a0.png"/>
        </div>
        <p class="text-white h4 m-t m-b">
            John.Smith
        </p>
        <div class="input-group">
            <input class="form-control text-sm btn-rounded" placeholder="Enter pwd to continue" type="password">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-rounded" data-dismiss="modal" type="button">
                        <i class="fa fa-arrow-right">
                        </i>
                    </button>
                </span>
            </input>
        </div>
    </div>
</div>